<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>王大喵的记账本</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <div style="vertical-align: middle;">
            <div id="bit-logoText" data-margin-top="1" style="position:relative;font-size:16px;  margin-top:1px;">
                <div>
                    <div class="logotext_inner">
                        <div><span style="font-family:微软雅黑;"><span style="color: rgb(128, 128, 128);"><span style="font-size: 28px;">刘 &nbsp; 家&nbsp;&nbsp; 账&nbsp;&nbsp; 单</span></span></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:95%;width:100%">
            @RenderBody()
        </div>
        <div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year 使用版权归王大喵个人所有</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
