
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MDD_Model;
@{
    MDD_accountsM models = new MDD_accountsM();
    List<MDD_accountsM> _Accounts = ViewData["data"] as List<MDD_accountsM>;
}

<div style="width:auto">
    <table class="table active table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => models.Acc_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => models.Context)
                </th>
                <th>
                    @Html.DisplayNameFor(model => models.money)
                </th>
                <th>
                    @Html.DisplayNameFor(model => models.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => models.turnover)
                </th>
                <th>
                    @Html.DisplayNameFor(model => models.remark)
                </th>
                <th>
                    @Html.DisplayNameFor(model => models.CreateTime)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _Accounts)
            {
                <tr>
                    <td>
                        @item.Acc_Id
                    </td>
                    <td>
                        @item.Context
                    </td>
                    <td>
                        @item.money
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.turnover
                    </td>
                    <td>
                        @item.remark
                    </td>
                    <td>
                        @item.CreateTime
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

